################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EIAUI/EIAUI/bin/Debug/de
/EIAUI/EIAUI/obj/Debug/Controls/VisitationCardParts
*.baml
